# ─────────────────────────────────────────
# Python
# ─────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/
.venv/

# ─────────────────────────────────────────
# Jupyter / Logs
# ─────────────────────────────────────────
.ipynb_checkpoints/
*.log

# ─────────────────────────────────────────
# Model Weights (IMPORTANT)
# ─────────────────────────────────────────
*.pt
*.pth
*.onnx
runs/
weights/

# If datasets are large, ignore them
Dataset*/
sample_dataset/
# ─────────────────────────────────────────
# OS Files
# ─────────────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────────────
# IDE / Editor
# ─────────────────────────────────────────
.vscode/
.idea/

# ─────────────────────────────────────────
# Misc
# ─────────────────────────────────────────
*.zip
*.tar
*.gz